body{
    margin: 0;
    display: flex;
    /* grid */
}

.container{
    min-width: 250px;
    background-color: #333;
    padding: 1rem;
    margin-right: 1rem;
}

.draggable{
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    cursor: move;
}

.draggable.dragging{
    opacity: 0.5;
    /* background-color: red; */
}